{% extends 'base.html' %}
{% block title %}Lobbies{% endblock %}
{% block content %}
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 50%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>

  <script>
    function handleButtonClick() {
      {% if actual_button == 'true'%}
        document.getElementById('actual').value = 'false'
        document.getElementById('filter_form').submit()
      {% else %}
        document.getElementById('actual').value = 'true'
        document.getElementById('filter_form').submit()
      {% endif %}
    }
</script>

  <form action="\lobbies" method="POST" id="filter_form">
    <input type="checkbox" id="actual" name="actual" value="true" onchange=handleButtonClick()>
    <label for="actual"> SHOW ACTUAL GAMES </label>
  </form>

  <table>
    <tr>
      <th>LOBBY ID</th>
      <th>PLAYERS</th>
      <th>MAX PLAYERS</th> 
      <th>JOIN ROOM</th>
    </tr>
    {% for item in data %}
    <tr>
      <form action="\room" method="POST">
        <td>{{item[0]}}</td>
        <td>{{item[2]}}</td>
        <td>{{item[1]}}</td>
        <td><button name="test" type="submit" value={{item}}> JOIN ROOM</button></td>
      </form>
    </tr>
  {% endfor %}
  </table>

{% endblock %}

